*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
}

:root{
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;

  --white-color: #FFFFFF;
  --dark-cian-color: #02799D;
}

body{
  height: 100vh;

  background-image: url(../assets/mountains-universe-1.png);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
}

a{
  font-size: 2rem;
  color: var(--white-color);
  text-decoration: none;
  opacity: 0.6;
}

a:hover{
  opacity: 1;
}

a.active{
  opacity: 1;
}

nav{
  display: flex;
  gap: 3.2rem;

  padding: 4rem 0 0 4rem;

  align-items: center;
}

h1{
  font-size: 5rem;
  color: var(--white-color);
}

p{
  font-size: 1.8rem;
  color: var(--white-color);

  line-height: 160%;
}

button{
  width: 19rem;
  height: 4.8rem;

  border: 2px solid var(--white-color);
  border-radius: 0.5rem;

  color: var(--white-color);
  background: none;

  font-size: 1.4rem;
  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;
}

button:hover{
  background: var(--white-color);
  color: var(--dark-cian-color);
}

#app{
  height: 100vh;
  flex: 1;
}

#home-content, #error-404{
  height: 80vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 2.4rem;
}

#universe-content, #exploration-content{
  max-width: 70rem;
  height: 60vh;

  display: flex;
  flex-direction: column;

  gap: 1.6rem;
  margin: 0 10rem;

  justify-content: center;
}